.main-header {
  display: flex;
  flex-direction: column;
  padding: 40px 3% 40px 3%;

  &__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-inner {
      display: flex;
      justify-content: space-between;
      min-width: 600px;
    }
  }
}